<a href="https://colab.research.google.com/github/HSYhrae/team3_semi_project/blob/data/calculating_distances.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import chardet # 인코딩 확인
import os
# 파일 경로 지정
check_file_path = '/content/서울지하철주소종합.csv'

# 파일의 인코딩 체크
with open(check_file_path, 'rb') as file:
  result = chardet.detect(file.read())
  print(f'File: {check_file_path}, Encoding: {result["encoding"]}, Confidence: {result["confidence"]}')

File: /content/서울지하철주소종합.csv, Encoding: utf-8, Confidence: 0.99

In [ ]:
import pandas as pd
from google.colab import drive


drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

data_subway = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/서울지하철주소종합.csv', encoding='utf-8')
data_subway.info()
data_subway

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  372 non-null    object
 1   선명       372 non-null    object
 2   역명       372 non-null    object
 3   도로명주소    372 non-null    object
 4   위도       372 non-null    float64
 5   경도       372 non-null    float64
dtypes: float64(2), object(4)
memory usage: 17.6+ KB

    철도운영기관명   선명        역명                  도로명주소         위도          경도
0       코레일  1호선       도봉산   서울특별시 도봉구 도봉로 964-33  37.689034  127.046667
1       코레일  1호선        도봉   서울특별시 도봉구 도봉로 170길 2  37.675204  127.044898
2       코레일  1호선        방학  서울특별시 도봉구 도봉로 150다길 3  37.665598  127.044444
3       코레일  1호선        창동    서울특별시 도봉구 마들로11길 77  37.653378  127.047682
4       코레일  1호선        녹천      서울특별시 도붕구 덕릉로 376  37.645635  127.050942
..      ...  ...       ...                    ...        ...         ...
367    공항철도   공항       서울역      서울특별시 용산구 청파로 378  37.552395  126.971069
368    공항철도   공항        공덕      서울특별시 마포구 마포대로 92  37.543011  126.951188
369    공항철도   공항      홍대입구      서울특별시 마포구 양화로 188  37.559528  126.924795
370    공항철도   공항  디지털미디어시티      서울특별시 마포구 성암로 184  37.576866  126.899170
371    공항철도   공항      김포공항       서울특별시 강서구 하늘길 77  37.565059  126.802992

[372 rows x 6 columns]

In [ ]:
import pandas as pd

finall_data = pd.read_csv('/content/drive/MyDrive/data/3team_project/finall_data.csv', encoding='utf-8')
finall_data.info()
finall_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189434 entries, 0 to 1189433
Data columns (total 21 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Year          1189434 non-null  int64
 1   Month         1189434 non-null  int64
 2   Region_Name   1189434 non-null  object
 3   Floor         1189434 non-null  float64
 4   Building_Age  1189434 non-null  int64
 5   Building_Use  1189434 non-null  object
 6   JS_BA         1189434 non-null  float64
 7   Population    1189434 non-null  int64
 8   IR            1182725 non-null  float64
 9   UR            1182725 non-null  float64
 10  LC_index      1182725 non-null  float64
 11  CA_index      1182725 non-null  float64
 12  TC_index      1182725 non-null  float64
 13  SDT_index     1040988 non-null  float64
 14  HSP_index     1166201 non-null  float64
 15  Crime_Rates   793796 non-null   float64
 16  latitude      1189434 non-null  float64
 17  longitude     1189434 non-null  float64
 18  Sell_Price    1189434 non-null  float64
 19  JS_Price      1189434 non-null  int64
 20  YearMonth     1189434 non-null  int64
dtypes: float64(13), int64(6), object(2)
memory usage: 190.6+ MB

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,CA_index,TC_index,SDT_index,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,78.2,74.2,NaN,81.2,NaN,37.474500,126.981390,15800.00,12000,201101
1,2011,2,관악구,13.0,6,오피스텔,25.05,521193,2.75,4.5,...,78.2,74.5,NaN,82.0,NaN,37.474500,126.981390,16875.00,10000,201102
2,2011,2,관악구,13.0,6,오피스텔,26.18,521193,2.75,4.5,...,78.2,74.5,NaN,82.0,NaN,37.474500,126.981390,16875.00,10500,201102
3,2011,5,관악구,9.0,6,오피스텔,27.15,521193,3.00,3.2,...,78.9,75.8,NaN,80.6,NaN,37.474500,126.981390,17216.67,12000,201105
4,2011,10,관악구,6.0,6,오피스텔,27.15,521193,3.25,2.9,...,80.0,77.1,NaN,79.4,NaN,37.474500,126.981390,22000.00,11500,201110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189429,2022,11,송파구,14.0,14,아파트,84.80,652993,3.25,2.3,...,108.9,111.8,72.039914,146.8,NaN,37.514069,127.081381,193312.50,96900,202211
1189430,2022,11,서초구,16.0,17,아파트,29.60,402936,3.25,2.3,...,108.9,111.8,72.039914,146.8,NaN,37.486044,126.984201,33000.00,25500,202211
1189431,2022,11,강서구,7.0,6,오피스텔,25.55,567898,3.25,2.3,...,108.9,111.8,72.039914,146.8,NaN,37.560579,126.837594,18125.00,15180,202211
1189432,2022,11,송파구,3.0,9,오피스텔,26.82,652993,3.25,2.3,...,108.9,111.8,72.039914,146.8,NaN,37.480095,127.119684,21100.00,19800,202211
1189433,2022,11,송파구,20.0,14,아파트,84.79,652993,3.25,2.3,...,108.9,111.8,72.039914,146.8,NaN,37.520536,127.106151,165000.00,88000,202211

In [ ]:
data_JS['latitude'].nunique()

32922

In [ ]:
data_JS['longitude'].nunique()

33009

In [ ]:
data_JS['sum'] = data_JS['latitude'] + data_JS['longitude']

In [ ]:
data_JS['sum'].nunique()

33087

In [ ]:
unique_rows = data_JS.drop_duplicates(subset='sum', keep='first')
unique_rows = unique_rows.reset_index(drop=True)
unique_rows

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,TC_index,SDT_index,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,74.2,NaN,81.2,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,74.9,NaN,81.7,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,74.5,NaN,82.0,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,76.8,NaN,80.2,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,74.9,NaN,81.7,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,112.8,66.522876,143.3,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,111.8,72.039914,146.8,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and subway station data
real_estate_data = data_JS  # Replace with your real estate data file
subway_station_data = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/서울지하철주소종합.csv', encoding = 'utf-8')  # Replace with your subway station data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# 컬럼명 변환
subway_station_data = subway_station_data.rename(columns = {'위도': 'latitude', '경도': 'longitude'})

# Calculate shortest distance for each real estate to each subway station
shortest_distances = []

for _, real_estate_row in unique_rows.iterrows():
    real_estate_lat = real_estate_row['latitude']
    real_estate_lon = real_estate_row['longitude']

    distances_to_subway_stations = []
    for _, subway_station_row in subway_station_data.iterrows():
        subway_station_lat = subway_station_row['latitude']
        subway_station_lon = subway_station_row['longitude']

        distance = haversine_distance(real_estate_lat, real_estate_lon, subway_station_lat, subway_station_lon)
        distances_to_subway_stations.append(distance)

    shortest_distance = min(distances_to_subway_stations)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to subway stations to the real estate data
unique_rows['Shortest_Distance_to_Subway'] = shortest_distances

# Save the merged data to a new CSV file
unique_rows.to_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/data_JS.csv', index=False)

data_JS = unique_rows

data_JS

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum,Shortest_Distance_to_University,Shortest_Distance_to_School,Shortest_Distance_to_Subway
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890,1510.318477,488.498007,869.157047
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921,1583.292522,112.712990,357.756565
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437,1014.946217,410.930513,470.810801
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698,2598.445204,258.669686,1024.919673
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041,535.416165,416.513078,387.118228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685,1161.718658,189.666897,1430.409302
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932,1985.939597,304.559960,956.173672
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285,2812.639554,77.816694,124.113357
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664,1697.519101,272.708899,1555.274515
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858,1416.839941,345.959461,1199.362257

In [ ]:
unique_rows = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/data_JS.csv', encoding='utf-8')

In [ ]:
unique_rows

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,TC_index,SDT_index,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,74.2,NaN,81.2,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,74.9,NaN,81.7,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,74.5,NaN,82.0,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,76.8,NaN,80.2,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,74.9,NaN,81.7,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,112.8,66.522876,143.3,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,112.4,66.608626,141.8,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,111.8,72.039914,146.8,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and university data
real_estate_data = data_JS  # Replace with your real estate data file
university_data = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/University.csv', encoding = 'euc-kr')  # Replace with your university data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# 컬럼명 변환
university_data = university_data.rename(columns = {'위도': 'latitude', '경도': 'longitude'})

# Calculate shortest distance for each real estate to each university
shortest_distances = []

for _, real_estate_row in unique_rows.iterrows():
    real_estate_lat = real_estate_row['latitude']
    real_estate_lon = real_estate_row['longitude']

    distances_to_universities = []
    for _, university_row in university_data.iterrows():
        university_lat = university_row['latitude']
        university_lon = university_row['longitude']

        distance = haversine_distance(real_estate_lat, real_estate_lon, university_lat, university_lon)
        distances_to_universities.append(distance)

    shortest_distance = min(distances_to_universities)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to universities to the real estate data
unique_rows['Shortest_Distance_to_University'] = shortest_distances



# Save the merged data to a new CSV file
unique_rows.to_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/data_JS.csv', index=False)

data_JS = unique_rows

data_JS

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,SDT_index,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum,Shortest_Distance_to_University
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,NaN,81.2,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890,1510.318477
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,NaN,81.7,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921,1583.292522
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,NaN,82.0,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437,1014.946217
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,NaN,80.2,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698,2598.445204
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,NaN,81.7,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041,535.416165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,66.522876,143.3,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685,1161.718658
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,66.608626,141.8,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932,1985.939597
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,66.608626,141.8,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285,2812.639554
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,66.608626,141.8,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664,1697.519101
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,72.039914,146.8,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858,1416.839941

In [ ]:
unique_rows = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/data_JS.csv', encoding='utf-8')

In [ ]:
import numpy as np
import pandas as pd
from math import radians, sin, cos, sqrt, atan2

# Load real estate and school data
real_estate_data = data_JS  # Replace with your real estate data file
school_data = pd.read_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/School.csv', encoding = 'utf-8')  # Replace with your school data file

# Function to calculate Haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371000  # Radius of Earth in meters
    phi1 = radians(lat1)
    phi2 = radians(lat2)

    delta_phi = radians(lat2 - lat1)
    delta_lambda = radians(lon2 - lon1)

    a = sin(delta_phi / 2) * sin(delta_phi / 2) + cos(phi1) * cos(phi2) * sin(delta_lambda / 2) * sin(delta_lambda / 2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c  # Distance in meters
    return distance

# 컬럼명 변환
school_data = school_data.rename(columns = {'위도': 'latitude', '경도': 'longitude'})

# Calculate shortest distance for each real estate to each school
shortest_distances = []

for _, real_estate_row in unique_rows.iterrows():
    real_estate_lat = real_estate_row['latitude']
    real_estate_lon = real_estate_row['longitude']

    distances_to_schools = []
    for _, school_row in school_data.iterrows():
        school_lat = school_row['latitude']
        school_lon = school_row['longitude']

        distance = haversine_distance(real_estate_lat, real_estate_lon, school_lat, school_lon)
        distances_to_schools.append(distance)

    shortest_distance = min(distances_to_schools)
    shortest_distances.append(shortest_distance)

# Add the shortest distances to schools to the real estate data
unique_rows['Shortest_Distance_to_School'] = shortest_distances

#

# Save the merged data to a new CSV file
unique_rows.to_csv('/content/drive/MyDrive/팀 프로젝트 /ppt 참고 코드(통계분석, 머신러닝,딥러닝)/data_JS.csv', index=False)

data_JS = unique_rows

data_JS

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum,Shortest_Distance_to_University,Shortest_Distance_to_School
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,81.2,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890,1510.318477,488.498007
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,81.7,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921,1583.292522,112.712990
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,82.0,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437,1014.946217,410.930513
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,80.2,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698,2598.445204,258.669686
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,81.7,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041,535.416165,416.513078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,143.3,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685,1161.718658,189.666897
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,141.8,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932,1985.939597,304.559960
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,141.8,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285,2812.639554,77.816694
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,141.8,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664,1697.519101,272.708899
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,146.8,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858,1416.839941,345.959461

In [ ]:
unique_rows

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,sum,Shortest_Distance_to_University,Shortest_Distance_to_School,Shortest_Distance_to_Subway
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,NaN,37.474500,126.981390,15800.0,12000,201101,164.455890,1510.318477,488.498007,869.157047
1,2011,3,강동구,2.0,23,오피스텔,32.72,486546,3.00,4.3,...,NaN,37.532248,127.122673,13000.0,6500,201103,164.654921,1583.292522,112.712990,357.756565
2,2011,2,구로구,6.0,10,오피스텔,29.26,420803,2.75,4.5,...,NaN,37.492475,126.840962,8400.0,6200,201102,164.333437,1014.946217,410.930513,470.810801
3,2011,8,관악구,5.0,8,오피스텔,21.28,521193,3.25,3.0,...,NaN,37.486239,126.924459,12800.0,8500,201108,164.410698,2598.445204,258.669686,1024.919673
4,2011,3,마포구,10.0,9,오피스텔,19.72,384129,3.00,4.3,...,NaN,37.548721,126.959320,9000.0,5500,201103,164.508041,535.416165,416.513078,387.118228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33082,2023,1,도봉구,4.0,30,연립다세대,40.62,308986,3.50,3.6,...,NaN,37.650017,127.029669,12000.0,15000,202301,164.679685,1161.718658,189.666897,1430.409302
33083,2022,12,송파구,3.0,29,연립다세대,41.76,652993,3.25,3.0,...,NaN,37.509464,127.112468,25000.0,14000,202212,164.621932,1985.939597,304.559960,956.173672
33084,2022,12,은평구,5.0,0,연립다세대,27.78,465727,3.25,3.0,...,NaN,37.623965,126.925320,25000.0,18000,202212,164.549285,2812.639554,77.816694,124.113357
33085,2022,12,강서구,3.0,21,연립다세대,34.20,567898,3.25,3.0,...,NaN,37.535545,126.839119,13000.0,12500,202212,164.374664,1697.519101,272.708899,1555.274515
33086,2022,11,강서구,3.0,10,연립다세대,54.22,567898,3.25,2.3,...,NaN,37.536415,126.860443,17825.0,22000,202211,164.396858,1416.839941,345.959461,1199.362257

In [ ]:
fillter = unique_rows.loc[:, ['latitude', 'longitude', 'Shortest_Distance_to_Subway','Shortest_Distance_to_University', 'Shortest_Distance_to_School']]
fillter

,latitude,longitude,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School
0,37.474500,126.981390,869.157047,1510.318477,488.498007
1,37.532248,127.122673,357.756565,1583.292522,112.712990
2,37.492475,126.840962,470.810801,1014.946217,410.930513
3,37.486239,126.924459,1024.919673,2598.445204,258.669686
4,37.548721,126.959320,387.118228,535.416165,416.513078
...,...,...,...,...,...
33082,37.650017,127.029669,1430.409302,1161.718658,189.666897
33083,37.509464,127.112468,956.173672,1985.939597,304.559960
33084,37.623965,126.925320,124.113357,2812.639554,77.816694
33085,37.535545,126.839119,1555.274515,1697.519101,272.708899
33086,37.536415,126.860443,1199.362257,1416.839941,345.959461

In [ ]:
fff = pd.merge(finall_data, fillter, on = ['latitude', 'longitude'], how = 'left')
fff

,Year,Month,Region_Name,Floor,Building_Age,Building_Use,JS_BA,Population,IR,UR,...,HSP_index,Crime_Rates,latitude,longitude,Sell_Price,JS_Price,YearMonth,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School
0,2011,1,관악구,12.0,6,오피스텔,25.05,521193,2.75,3.8,...,81.2,NaN,37.474500,126.981390,15800.00,12000,201101,869.157047,1510.318477,488.498007
1,2011,2,관악구,13.0,6,오피스텔,25.05,521193,2.75,4.5,...,82.0,NaN,37.474500,126.981390,16875.00,10000,201102,869.157047,1510.318477,488.498007
2,2011,2,관악구,13.0,6,오피스텔,26.18,521193,2.75,4.5,...,82.0,NaN,37.474500,126.981390,16875.00,10500,201102,869.157047,1510.318477,488.498007
3,2011,5,관악구,9.0,6,오피스텔,27.15,521193,3.00,3.2,...,80.6,NaN,37.474500,126.981390,17216.67,12000,201105,869.157047,1510.318477,488.498007
4,2011,10,관악구,6.0,6,오피스텔,27.15,521193,3.25,2.9,...,79.4,NaN,37.474500,126.981390,22000.00,11500,201110,869.157047,1510.318477,488.498007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189429,2022,11,송파구,14.0,14,아파트,84.80,652993,3.25,2.3,...,146.8,NaN,37.514069,127.081381,193312.50,96900,202211,706.916213,3320.439281,105.387151
1189430,2022,11,서초구,16.0,17,아파트,29.60,402936,3.25,2.3,...,146.8,NaN,37.486044,126.984201,33000.00,25500,202211,896.312146,1249.195643,307.492246
1189431,2022,11,강서구,7.0,6,오피스텔,25.55,567898,3.25,2.3,...,146.8,NaN,37.560579,126.837594,18125.00,15180,202211,945.993946,1247.744788,414.012705
1189432,2022,11,송파구,3.0,9,오피스텔,26.82,652993,3.25,2.3,...,146.8,NaN,37.480095,127.119684,21100.00,19800,202211,661.207119,4507.341345,715.421992
1189433,2022,11,송파구,20.0,14,아파트,84.79,652993,3.25,2.3,...,146.8,NaN,37.520536,127.106151,165000.00,88000,202211,216.711013,2192.399145,213.171358

In [ ]:
fff.to_csv('/content/drive/MyDrive/data/3team_project/EDA_data(+distance).csv', encoding='utf-8', index=False)