In [48]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\spa84\anaconda3\lib\site-packages (23.1.2)
Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 11.0 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-23.2.1
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip install pingouin

Requirement already satisfied: pingouin in c:\users\spa84\anaconda3\lib\site-packages (0.5.3)
Requirement already satisfied: numpy>=1.19 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.19.5)
Requirement already satisfied: scipy>=1.7 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (3.1.3)
Requirement already satisfied: seaborn>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.22.1)
Requirement already satisfied: pandas-flavor>=0.2.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.6.0)
Requirement already satisfied: outdated in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.2.2)
Requirement already satisfied: tabulate in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.9.0)
Requirement already satisfied: cycler>=0.10 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\spa84\anaconda3\lib\site-packages (from pandas>=1.0->pingouin) (2019.3)
Requirement already satisfied: xarray in c:\users\spa84\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: typing_extensions in c:\users\spa84\anaconda3\lib\site-packages (from seaborn>=0.11->pingouin) (4.7.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (23.1)
Requirement already satisfied: setuptools>=44 in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (45.2.0.post20200210)
Requirement already satisfied: littleutils in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (2.22.0)
Requirement already satisfied: joblib>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.14.1)
Requirement already satisfied: six in c:\users\spa84\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2019.11.28)
Requirement already satisfied: importlib-metadata in c:\users\spa84\anaconda3\lib\site-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (1.5.0)
Requirement already satisfied: zipp>=0.5 in c:\users\spa84\anaconda3\lib\site-packages (from importlib-metadata->xarray->pandas-flavor>=0.2.0->pingouin) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [50]:
pip install --upgrade pingouin

Requirement already satisfied: pingouin in c:\users\spa84\anaconda3\lib\site-packages (0.5.3)
Requirement already satisfied: numpy>=1.19 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.19.5)
Requirement already satisfied: scipy>=1.7 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (3.1.3)
Requirement already satisfied: seaborn>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.22.1)
Requirement already satisfied: pandas-flavor>=0.2.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.6.0)
Requirement already satisfied: outdated in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.2.2)
Requirement already satisfied: tabulate in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.9.0)
Requirement already satisfied: cycler>=0.10 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\spa84\anaconda3\lib\site-packages (from pandas>=1.0->pingouin) (2019.3)
Requirement already satisfied: xarray in c:\users\spa84\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: typing_extensions in c:\users\spa84\anaconda3\lib\site-packages (from seaborn>=0.11->pingouin) (4.7.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (23.1)
Requirement already satisfied: setuptools>=44 in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (45.2.0.post20200210)
Requirement already satisfied: littleutils in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (2.22.0)
Requirement already satisfied: joblib>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.14.1)
Requirement already satisfied: six in c:\users\spa84\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2019.11.28)
Requirement already satisfied: importlib-metadata in c:\users\spa84\anaconda3\lib\site-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (1.5.0)
Requirement already satisfied: zipp>=0.5 in c:\users\spa84\anaconda3\lib\site-packages (from importlib-metadata->xarray->pandas-flavor>=0.2.0->pingouin) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

## 라이브러리

In [39]:
import pandas as pd
import numpy as np
import pingouin as pg

## 데이터 불러오기

In [40]:
path = './data/'

df = pd.read_csv(path+'전세가격예측프로젝트_월별데이터_총병합.csv')

In [41]:
df

,Year,Month,Region_Name,Region_Code,Building_Use,Sell_Price,Sell_BA,Sell_PPA,Sell_PPP,Sell_Count,...,JS_Count,CR,BA_CR,PPA_CR,IR,UR,LC_index,CA_index,TC_index,SDT_index
0,2012,7,강남구,11680,단독다가구,316562.50,344.92,943.75,285.48,8,...,135,3.89,19.62,22.31,3.0,3.1,74.5,81.5,78.5,102.461258
1,2012,7,강남구,11680,아파트,82549.28,81.56,1023.00,309.46,133,...,750,46.13,101.15,44.26,3.0,3.1,74.5,81.5,78.5,102.461258
2,2012,7,강남구,11680,연립다세대,28362.79,48.58,565.35,171.02,38,...,140,61.63,109.47,61.95,3.0,3.1,74.5,81.5,78.5,102.461258
3,2012,7,강남구,11680,오피스텔,25309.88,39.07,671.99,203.28,42,...,10,157.65,227.39,62.87,3.0,3.1,74.5,81.5,78.5,102.461258
4,2012,7,강동구,11740,단독다가구,103757.14,336.59,480.88,145.47,21,...,217,7.61,16.44,33.75,3.0,3.1,74.5,81.5,78.5,102.461258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12185,2022,8,중구,11140,오피스텔,33270.39,29.85,1108.02,335.18,162,...,72,74.87,104.46,74.52,2.5,2.1,109.0,109.0,110.3,87.677816
12186,2022,8,중랑구,11260,단독다가구,113917.78,221.65,517.06,156.41,81,...,271,11.79,19.67,66.34,2.5,2.1,109.0,109.0,110.3,87.677816
12187,2022,8,중랑구,11260,아파트,54521.62,58.36,989.66,299.37,74,...,414,53.66,112.94,44.39,2.5,2.1,109.0,109.0,110.3,87.677816
12188,2022,8,중랑구,11260,연립다세대,33390.06,48.04,743.72,224.98,327,...,276,72.34,78.37,95.16,2.5,2.1,109.0,109.0,110.3,87.677816
12189,2022,8,중랑구,11260,오피스텔,12275.00,23.31,531.40,160.75,18,...,36,170.66,125.61,145.74,2.5,2.1,109.0,109.0,110.3,87.677816

## Categorical:

- Nominal(variables that have two or more categories, but which do not have an intrinsic order.)

    - Region_Name : 자치구 명
    - Building_Use : 건물 용도
    
- Ordinal(variables that have two or more categories just like nominal variables. Only the categories can also be ordered or ranked.)

    
## Numeric:

- Discrete
    - Year : 년
    - Month : 월
    - Region_Code : 자치구 코드
    - JS_Count : 전세 거래량
   
- Continous
    - Sell : 매매
    - Sell_Price : 매매 가격
    - Sell_BA = Sell_building Area : 매매 건물 면적
    - Sell_PPA = Sell_Price Per Area : 면적 당 매매 가격
    - Sell_PPP = Sell_Price Per Pyeong : 평 당 매매 가격
    - Sell_Count : 매매 거래량
    - JS : 전세
    - JS_Price : 전세 가격
    - JS_BA = JS_Building Area : 임대 면적
    - JS_PPA = JS_Price Per Area : 임대 면적 당 전세 가격
    - JS_PPP = JS_Price Per Pyeong : 평 당 전세 가격
    - CR = Charter Rate : 전세가율
    - CR_PPA  = Charter_Rate_Price Per Area : 면적 당 전세가율
    - CR_PPP = Charter Rate_Price Per Pyeong : 평 당 전세가율
    - lR = Interest Rate : 금리
    - UR = Unemployment Rate : 실업률
    - LC_index = Leading Composite index : 선행종합 지수
    - CA_index = Comprehensive Accompany index : 동행종합 지수
    - TC_index = Trailing Composite index : 후행종합 지수
    - SDT_index = Supply and Demand Trend index = 전세수급동향 지수

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12190 entries, 0 to 12189
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          12190 non-null  int64
 1   Month         12190 non-null  int64
 2   Region_Name   12190 non-null  object
 3   Region_Code   12190 non-null  int64
 4   Building_Use  12190 non-null  object
 5   Sell_Price    12190 non-null  float64
 6   Sell_BA       12190 non-null  float64
 7   Sell_PPA      12190 non-null  float64
 8   Sell_PPP      12190 non-null  float64
 9   Sell_Count    12190 non-null  int64
 10  JS_Price      12190 non-null  float64
 11  JS_BA         12190 non-null  float64
 12  JS_PPA        12190 non-null  float64
 13  JS_PPP        12190 non-null  float64
 14  JS_Count      12190 non-null  int64
 15  CR            12190 non-null  float64
 16  BA_CR         12190 non-null  float64
 17  PPA_CR        12190 non-null  float64
 18  IR            12190 non-null  float64
 19  UR            12190 non-null  float64
 20  LC_index      12190 non-null  float64
 21  CA_index      12190 non-null  float64
 22  TC_index      12190 non-null  float64
 23  SDT_index     12190 non-null  float64
dtypes: float64(17), int64(5), object(2)
memory usage: 2.2+ MB

## Spearman

In [43]:
column_spear = ['JS_Price', 'Region_Name', 'Building_Use', 'Year', 'Month' ,'Region_Code', 'JS_Count']

In [44]:
correlation_spear = pg.pairwise_corr(df, columns=['JS_Price', 'Region_Name', 'Building_Use', 'Year', 'Month' ,'Region_Code', 'JS_Count'], method='spearman')
correlation_spear

,X,Y,method,alternative,n,r,CI95%,p-unc,power
0,JS_Price,Year,spearman,two-sided,12190,0.351271,"[0.34, 0.37]",0.000000e+00,1.000000
1,JS_Price,Month,spearman,two-sided,12190,-0.006878,"[-0.02, 0.01]",4.476656e-01,0.118216
2,JS_Price,Region_Code,spearman,two-sided,12190,0.061039,"[0.04, 0.08]",1.532251e-11,0.999999
3,JS_Price,JS_Count,spearman,two-sided,12190,0.322811,"[0.31, 0.34]",1.269175e-293,1.000000
4,Year,Month,spearman,two-sided,12190,-0.133844,"[-0.15, -0.12]",7.742053e-50,1.000000
5,Year,Region_Code,spearman,two-sided,12190,-0.000001,"[-0.02, 0.02]",9.999080e-01,0.049999
6,Year,JS_Count,spearman,two-sided,12190,0.109885,"[0.09, 0.13]",4.611227e-34,1.000000
7,Month,Region_Code,spearman,two-sided,12190,0.000209,"[-0.02, 0.02]",9.816203e-01,0.050059
8,Month,JS_Count,spearman,two-sided,12190,-0.066540,"[-0.08, -0.05]",1.924053e-13,1.000000
9,Region_Code,JS_Count,spearman,two-sided,12190,0.313034,"[0.3, 0.33]",2.632216e-275,1.000000

In [45]:
pcc_js = correlation[correlation['Y'] == 'JS_Price']
pcc_js

Empty DataFrame
Columns: [X, Y, method, alternative, n, r, CI95%, p-unc, power]
Index: []

## PCC

In [46]:
column_pearson = [col for col in df.columns if col not in column_spear]+['JS_Price']

In [47]:
correlation_pearson = pg.pairwise_corr(df, columns=column_pearson, method='pearson')
correlation_pearson

,X,Y,method,alternative,n,r,CI95%,p-unc,BF10,power
0,Sell_Price,Sell_BA,pearson,two-sided,12190,0.769422,"[0.76, 0.78]",0.000000e+00,inf,1.0
1,Sell_Price,Sell_PPA,pearson,two-sided,12190,0.554349,"[0.54, 0.57]",0.000000e+00,inf,1.0
2,Sell_Price,Sell_PPP,pearson,two-sided,12190,0.554349,"[0.54, 0.57]",0.000000e+00,inf,1.0
3,Sell_Price,Sell_Count,pearson,two-sided,12190,-0.068049,"[-0.09, -0.05]",5.431386e-14,2.172e+10,1.0
4,Sell_Price,JS_BA,pearson,two-sided,12190,0.209802,"[0.19, 0.23]",2.515127e-121,1.484e+117,1.0
...,...,...,...,...,...,...,...,...,...,...
148,CA_index,SDT_index,pearson,two-sided,12190,-0.417098,"[-0.43, -0.4]",0.000000e+00,inf,1.0
149,CA_index,JS_Price,pearson,two-sided,12190,0.301419,"[0.29, 0.32]",1.971475e-254,1.254e+250,1.0
150,TC_index,SDT_index,pearson,two-sided,12190,-0.373246,"[-0.39, -0.36]",0.000000e+00,inf,1.0
151,TC_index,JS_Price,pearson,two-sided,12190,0.303511,"[0.29, 0.32]",4.021770e-258,6.097e+253,1.0
152,SDT_index,JS_Price,pearson,two-sided,12190,-0.081371,"[-0.1, -0.06]",2.298437e-19,4.306e+15,1.0

In [48]:
pcc_js = correlation[correlation['Y'] == 'JS_Price']
pcc_js

Empty DataFrame
Columns: [X, Y, method, alternative, n, r, CI95%, p-unc, power]
Index: []