In [48]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\spa84\anaconda3\lib\site-packages (23.1.2)
Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 11.0 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-23.2.1
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip install pingouin

Requirement already satisfied: pingouin in c:\users\spa84\anaconda3\lib\site-packages (0.5.3)
Requirement already satisfied: numpy>=1.19 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.19.5)
Requirement already satisfied: scipy>=1.7 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (3.1.3)
Requirement already satisfied: seaborn>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.22.1)
Requirement already satisfied: pandas-flavor>=0.2.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.6.0)
Requirement already satisfied: outdated in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.2.2)
Requirement already satisfied: tabulate in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.9.0)
Requirement already satisfied: cycler>=0.10 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\spa84\anaconda3\lib\site-packages (from pandas>=1.0->pingouin) (2019.3)
Requirement already satisfied: xarray in c:\users\spa84\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: typing_extensions in c:\users\spa84\anaconda3\lib\site-packages (from seaborn>=0.11->pingouin) (4.7.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (23.1)
Requirement already satisfied: setuptools>=44 in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (45.2.0.post20200210)
Requirement already satisfied: littleutils in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (2.22.0)
Requirement already satisfied: joblib>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.14.1)
Requirement already satisfied: six in c:\users\spa84\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2019.11.28)
Requirement already satisfied: importlib-metadata in c:\users\spa84\anaconda3\lib\site-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (1.5.0)
Requirement already satisfied: zipp>=0.5 in c:\users\spa84\anaconda3\lib\site-packages (from importlib-metadata->xarray->pandas-flavor>=0.2.0->pingouin) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [50]:
pip install --upgrade pingouin

Requirement already satisfied: pingouin in c:\users\spa84\anaconda3\lib\site-packages (0.5.3)
Requirement already satisfied: numpy>=1.19 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.19.5)
Requirement already satisfied: scipy>=1.7 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (3.1.3)
Requirement already satisfied: seaborn>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: statsmodels>=0.13 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.22.1)
Requirement already satisfied: pandas-flavor>=0.2.0 in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.6.0)
Requirement already satisfied: outdated in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.2.2)
Requirement already satisfied: tabulate in c:\users\spa84\anaconda3\lib\site-packages (from pingouin) (0.9.0)
Requirement already satisfied: cycler>=0.10 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\spa84\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\spa84\anaconda3\lib\site-packages (from pandas>=1.0->pingouin) (2019.3)
Requirement already satisfied: xarray in c:\users\spa84\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: typing_extensions in c:\users\spa84\anaconda3\lib\site-packages (from seaborn>=0.11->pingouin) (4.7.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\spa84\anaconda3\lib\site-packages (from statsmodels>=0.13->pingouin) (23.1)
Requirement already satisfied: setuptools>=44 in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (45.2.0.post20200210)
Requirement already satisfied: littleutils in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in c:\users\spa84\anaconda3\lib\site-packages (from outdated->pingouin) (2.22.0)
Requirement already satisfied: joblib>=0.11 in c:\users\spa84\anaconda3\lib\site-packages (from scikit-learn->pingouin) (0.14.1)
Requirement already satisfied: six in c:\users\spa84\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spa84\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2019.11.28)
Requirement already satisfied: importlib-metadata in c:\users\spa84\anaconda3\lib\site-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (1.5.0)
Requirement already satisfied: zipp>=0.5 in c:\users\spa84\anaconda3\lib\site-packages (from importlib-metadata->xarray->pandas-flavor>=0.2.0->pingouin) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

## 라이브러리

In [30]:
import pandas as pd
import numpy as np
import pingouin as pg
from statsmodels.stats.outliers_influence import variance_inflation_factor

## 데이터 불러오기

In [21]:
path = './data/'

df = pd.read_csv(path+'전세가격예측프로젝트_월별데이터_총병합.csv')

In [22]:
df

,Year,Month,Region_Name,Region_Code,Building_Use,Sell_Price,Sell_BA,Sell_PPA,Sell_PPP,Sell_Count,...,JS_Count,CR,BA_CR,PPA_CR,IR,UR,LC_index,CA_index,TC_index,SDT_index
0,2012,7,강남구,11680,단독다가구,316562.50,344.92,943.75,285.48,8,...,135,3.89,19.62,22.31,3.0,3.1,74.5,81.5,78.5,102.461258
1,2012,7,강남구,11680,아파트,82549.28,81.56,1023.00,309.46,133,...,750,46.13,101.15,44.26,3.0,3.1,74.5,81.5,78.5,102.461258
2,2012,7,강남구,11680,연립다세대,28362.79,48.58,565.35,171.02,38,...,140,61.63,109.47,61.95,3.0,3.1,74.5,81.5,78.5,102.461258
3,2012,7,강남구,11680,오피스텔,25309.88,39.07,671.99,203.28,42,...,10,157.65,227.39,62.87,3.0,3.1,74.5,81.5,78.5,102.461258
4,2012,7,강동구,11740,단독다가구,103757.14,336.59,480.88,145.47,21,...,217,7.61,16.44,33.75,3.0,3.1,74.5,81.5,78.5,102.461258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12185,2022,8,중구,11140,오피스텔,33270.39,29.85,1108.02,335.18,162,...,72,74.87,104.46,74.52,2.5,2.1,109.0,109.0,110.3,87.677816
12186,2022,8,중랑구,11260,단독다가구,113917.78,221.65,517.06,156.41,81,...,271,11.79,19.67,66.34,2.5,2.1,109.0,109.0,110.3,87.677816
12187,2022,8,중랑구,11260,아파트,54521.62,58.36,989.66,299.37,74,...,414,53.66,112.94,44.39,2.5,2.1,109.0,109.0,110.3,87.677816
12188,2022,8,중랑구,11260,연립다세대,33390.06,48.04,743.72,224.98,327,...,276,72.34,78.37,95.16,2.5,2.1,109.0,109.0,110.3,87.677816
12189,2022,8,중랑구,11260,오피스텔,12275.00,23.31,531.40,160.75,18,...,36,170.66,125.61,145.74,2.5,2.1,109.0,109.0,110.3,87.677816

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12190 entries, 0 to 12189
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          12190 non-null  int64
 1   Month         12190 non-null  int64
 2   Region_Name   12190 non-null  object
 3   Region_Code   12190 non-null  int64
 4   Building_Use  12190 non-null  object
 5   Sell_Price    12190 non-null  float64
 6   Sell_BA       12190 non-null  float64
 7   Sell_PPA      12190 non-null  float64
 8   Sell_PPP      12190 non-null  float64
 9   Sell_Count    12190 non-null  int64
 10  JS_Price      12190 non-null  float64
 11  JS_BA         12190 non-null  float64
 12  JS_PPA        12190 non-null  float64
 13  JS_PPP        12190 non-null  float64
 14  JS_Count      12190 non-null  int64
 15  CR            12190 non-null  float64
 16  BA_CR         12190 non-null  float64
 17  PPA_CR        12190 non-null  float64
 18  IR            12190 non-null  float64
 19  UR            12190 non-null  float64
 20  LC_index      12190 non-null  float64
 21  CA_index      12190 non-null  float64
 22  TC_index      12190 non-null  float64
 23  SDT_index     12190 non-null  float64
dtypes: float64(17), int64(5), object(2)
memory usage: 2.2+ MB

## 다중공선성 확인

In [50]:
independent_variables = ['Year', 'Month', 'Sell_Price', 'Sell_BA', 'Sell_PPA', 'Sell_PPP', 'Sell_Count',
        'JS_BA', 'JS_PPA', 'JS_PPP', 'JS_Count', 'CR', 'BA_CR',
       'PPA_CR', 'IR', 'UR', 'LC_index', 'CA_index', 'TC_index', 'SDT_index']

In [51]:
X = df[independent_variables]

vif_data = pd.DataFrame()
vif_data["Variable"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

In [52]:
vif_data

      Variable           VIF
0         Year  4.549082e+03
1        Month  9.896703e+00
2   Sell_Price  1.710899e+01
3      Sell_BA  3.140324e+01
4     Sell_PPA  5.334148e+09
5     Sell_PPP  5.334151e+09
6   Sell_Count  3.617992e+00
7        JS_BA  2.478396e+01
8       JS_PPA  2.181755e+09
9       JS_PPP  2.181751e+09
10    JS_Count  5.083905e+00
11          CR  9.930827e+01
12       BA_CR  1.123089e+02
13      PPA_CR  1.390572e+02
14          IR  4.469783e+01
15          UR  1.050737e+02
16    LC_index  1.514443e+04
17    CA_index  1.233946e+04
18    TC_index  1.803770e+04
19   SDT_index  2.177092e+02

## Regression_analysis

In [53]:
df.columns

Index(['Year', 'Month', 'Region_Name', 'Region_Code', 'Building_Use',
       'Sell_Price', 'Sell_BA', 'Sell_PPA', 'Sell_PPP', 'Sell_Count',
       'JS_Price', 'JS_BA', 'JS_PPA', 'JS_PPP', 'JS_Count', 'CR', 'BA_CR',
       'PPA_CR', 'IR', 'UR', 'LC_index', 'CA_index', 'TC_index', 'SDT_index'],
      dtype='object')

In [57]:
regression_js = pg.linear_regression(df[['Year', 'Month', 'Sell_Price', 'Sell_BA', 'Sell_PPA', 'Sell_PPP', 'Sell_Count',
       'JS_BA', 'JS_PPA', 'JS_PPP', 'JS_Count', 'CR', 'BA_CR',
       'PPA_CR', 'IR', 'UR', 'LC_index', 'CA_index', 'TC_index', 'SDT_index']], df['JS_Price'])
regression_js

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,1.574599e+06,1.115865,1.411101e+06,0.000000e+00,0.953906,0.95383,1.574596e+06,1.574601e+06
1,Year,-8.099991e+02,0.873097,-9.277312e+02,0.000000e+00,0.953906,0.95383,-8.117105e+02,-8.082877e+02
2,Month,-5.766827e+01,11.159475,-5.167651e+00,2.408081e-07,0.953906,0.95383,-7.954262e+01,-3.579393e+01
3,Sell_Price,-6.395922e-04,0.001316,-4.860316e-01,6.269535e-01,0.953906,0.95383,-3.219059e-03,1.939875e-03
4,Sell_BA,-2.082156e+00,1.230631,-1.691942e+00,9.068260e-02,0.953906,0.95383,-4.494388e+00,3.300758e-01
5,Sell_PPA,-4.197498e+03,2580.678733,-1.626509e+00,1.038673e-01,0.953906,0.95383,-9.256038e+03,8.610428e+02
6,Sell_PPP,1.390430e+04,8531.172211,1.629823e+00,1.031647e-01,0.953906,0.95383,-2.818151e+03,3.062676e+04
7,Sell_Count,-4.424608e+00,0.224008,-1.975203e+01,1.672510e-85,0.953906,0.95383,-4.863699e+00,-3.985517e+00
8,JS_BA,5.019820e+02,2.410517,2.082466e+02,0.000000e+00,0.953906,0.95383,4.972570e+02,5.067070e+02
9,JS_PPA,-2.412752e+03,2561.872130,-9.417926e-01,3.463175e-01,0.953906,0.95383,-7.434429e+03,2.608924e+03
10,JS_PPP,8.096046e+03,8468.994080,9.559631e-01,3.391099e-01,0.953906,0.95383,-8.504529e+03,2.469662e+04
11,JS_Count,3.611936e+00,0.205361,1.758822e+01,2.122343e-68,0.953906,0.95383,3.209396e+00,4.014476e+00
12,CR,-5.193901e+00,4.063403,-1.278215e+00,2.011981e-01,0.953906,0.95383,-1.315882e+01,2.771014e+00
13,BA_CR,1.676364e+01,3.237262,5.178338e+00,2.274441e-07,0.953906,0.95383,1.041809e+01,2.310918e+01
14,PPA_CR,2.523623e+01,4.231339,5.964124e+00,2.527788e-09,0.953906,0.95383,1.694213e+01,3.353032e+01
15,IR,-1.173185e+03,100.864958,-1.163124e+01,4.175502e-31,0.953906,0.95383,-1.370896e+03,-9.754735e+02
16,UR,2.157039e+02,74.001359,2.914864e+00,3.564925e-03,0.953906,0.95383,7.064945e+01,3.607583e+02
17,LC_index,-3.118495e+02,35.065495,-8.893345e+00,6.760827e-19,0.953906,0.95383,-3.805835e+02,-2.431156e+02
18,CA_index,4.391391e+02,30.573690,1.436330e+01,2.105322e-46,0.953906,0.95383,3.792098e+02,4.990684e+02
19,TC_index,1.913329e+02,37.743975,5.069231e+00,4.052955e-07,0.953906,0.95383,1.173487e+02,2.653171e+02
20,SDT_index,1.112735e+01,3.544331,3.139479e+00,1.696534e-03,0.953906,0.95383,4.179900e+00,1.807480e+01